// Hero white card

.hero-content {
  background-color: rgba(255,255,255, 0.84);
  padding: 60px;
  width: 750px;

  p {
    width: 66%;
  }
}

// Product card

.product-card {
  padding: 15px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;

  img {
    max-width: 20px;
  }

  .label {
    background-color: $color-white;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 12px;
    color: $color-cobalt;

    p {
      font-family: $text-family-body;
      font-size: 10px;
      color: $color-black;
      margin: 0;
      line-height: 0;
    }
  }

  .favourite {
    border-radius: 50%;
    padding: 15px;
    background-color: $color-white;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

// Product card below text

.product-price {
  font-family: $text-family-body;
  font-size: 20px;
  color: $color-bronze;
  font-weight: $text-weight-semi-bold;
}

.product-title {
  font-family: $text-family-header;
  font-size: 40px;
  color: $color-cobalt;
  font-weight: 700;
  line-height: 1.2em;
}

.maker-title {
  font-family: $text-family-body;
  font-size: 13px;
  color: $color-cobalt;
}


.pd-1 {
  background-image: url(../assets/vinicious.png);
}

.pd-2 {
  background-image: url(../assets/heather.png);
}

.pd-3 {
  background-image: url(../assets/artem.png);
}

.pd-4 {
  background-image: url(../assets/viktor.png);
}

// Category tiles

.category-tile {
  padding: 45px;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.category-tile-1 {
  background-image: url(../assets/jewellery.jpg);
}

.category-tile-2 {
  background-image: url(../assets/art.jpg);
}

.category-tile-3 {
  background-image: url(../assets/forkids.jpg);
}

.category-tile-4 {
  background-image: url(../assets/fashion.jpg);
}

.category-tile-5 {
  background-image: url(../assets/homewares.jpg);
}

.category-tile-6 {
  background-image: url(../assets/bags.jpg);
}

.category-tile-7 {
  background-image: url(../assets/accessories.jpg);
}

.rectangle-div {
  background-color: rgba(194, 84, 0, 0.8);
  padding: 20px;
  margin: 0 auto;
  text-align: center;

  p {
    margin: 0 auto;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: $color-white;
    font-weight: 700;
    line-height: 1.2em;
    opacity: 1;
  }
}
