// Search input

.search-input {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  font-family: $text-family-body;
  font-weight: 300;
  color: $color-black;
  padding: 10px 40px 10px 20px;
  width: 300px;
  position: relative;
}

.search-input-icon {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 20px;
  top: 13px;
  right: 20px;
}

// General input

.subscribe-input {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  background-color: $color-white;
  font-family: $text-family-body;
  font-size: 12px;
  font-weight: 300;
  color: $color-black;
  padding: 15px 43px 15px 43px;;
  width: 300px;
}


// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .subscribe-input {
    width: auto;
    max-width: 51%;
  }
}
