// General

img {
  height: auto;
  width: auto;
}

.close {
  cursor: pointer;
  max-width: 20px;

  &:hover {
    opacity: .8;
  }
}

.fw-img {
  max-width: 100%;
}

// Social favicons

.social-favicon {
  cursor: pointer;
  max-width: 25px;

  &:hover {
    opacity: .8;
  }
}

// Logo

.logo {
  cursor: pointer;
  max-width: 65px;

  &:hover {
    opacity: .8;
  }
}

// Navigation icons

.nav-link-img {
  cursor: pointer;
  max-width: 16px;
}

.nav-link-chevron {
  max-width: 16px;
}

// Hero background

.hero-bg {
  background-image: url(../assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Green splash paint bg

.green-paint-bg {
  background-image: url(../assets/green-paint-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.blue-bg {
  background-color: #415A78;
}

.green-bg {
  background-color: $color-green;
}

.grey-bg {
  background-color: #F8F8F8;
}

.white-bg {
  background-color: $color-white;
}

// TMIC Branding shape backgrounds

.shape-bg-1 {
  background-image: url(../assets/bg-shape-1-left.png), url(../assets/bg-shape-1-right.png);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
}


// Benefit bar icons

.benefit-icon {
  max-width: 100px;
}

// Blog portrait image

.blog-author-img {
  max-width: 55px;
}

// Mobile top nav

.mobile-top-nav-img {
  max-width: 35px;
}

.mobile-top-nav-link-img {
  max-width: 16px;
}

// Carousel slide BG on marketplace page

.carousel-slide-1-marketplace {
  background-image: url(../assets/ellen-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.carousel-slide-2-marketplace {
  background-image: url(../assets/artem-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

// Expanded img for CTA section

.cta-expanded-img {
  height: 158%;
  position: absolute;
  right: 15%;
  top: -50px;
}

// Split 45 images on Meet the maker posts

.a45-45-img-container {
  max-height: 100%;

  .a45-45-img-top {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
  }

  .a45-45-img-bottom {
    position: absolute;
    bottom: 0;
    right: 60px;
    max-width: 300px;
  }
}

// Image grid on Meet the makers post

.img-grid-img {
  max-height: 250px;
}

// ACcordion chevron

.accordion-chevron {
  height: 10px;
  transition: all 300ms ease;
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    max-width: 85px;
  }

  .cta-expanded-img {
    height: 350px;
    margin-bottom: -25px;
  }

  .carousel-slide-1-marketplace {
    height: 350px;
  }

  .carousel-slide-2-marketplace {
    height: 350px;
  }

  .maker-img-inline-container {
    display: flex;
    justify-content: flex-start;
  }

  .maker-img-inline {
    width: 25%;
  }

  .a45-45-img-container {
    max-height: 600px;
    height: 400px;

    .a45-45-img-top {
      position: inherit;
      top: auto;
      left: auto;
      max-width: 100%;
    }

    .a45-45-img-bottom {
      position: inherit;
      bottom: auto;
      right: auto;
      max-width: 45%;
    }
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .benefit-icon {
    max-width: 50px;
  }

  .logo {
    max-width: 65px;
  }

  .carousel-slide-1-marketplace {
    background-image: url(../assets/ellen-hero.jpg);
    height: 350px;
  }

  .cta-expanded-img {
    height: 300px;
    position: inherit;
    display: block;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    margin-bottom : -116px;
  }

  .a45-45-img-container {
    max-height: 600px;
    height: 400px;

    .a45-45-img-top {
      position: absolute;
      top: 12px;
      left: 24px;
      max-width: 55%;
    }

    .a45-45-img-bottom {
      position: absolute;
      bottom: 30px;
      right: 24px;
      max-width: 55%;
    }
  }

  .maker-img-inline-container {
    display: flex;
    justify-content: space-between;
  }

  .maker-img-inline {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  .hero-bg {
    background-image: url(../assets/hero-mobile.jpg);
  }
}
