// General

img {
  height: auto;
  width: auto;
}

.close {
  cursor: pointer;
  max-width: 20px;

  &:hover {
    opacity: .8;
  }
}

.fw-img {
  max-width: 100%;
}

// Social favicons

.social-favicon {
  cursor: pointer;
  max-width: 25px;

  &:hover {
    opacity: .8;
  }
}

// Logo

.logo {
  cursor: pointer;
  max-width: 150px;

  &:hover {
    opacity: .8;
  }
}

// Navigation icons

.nav-link-img {
  cursor: pointer;
  max-width: 16px;
}

.nav-link-chevron {
  max-width: 16px;
  margin-bottom: 2px;
}

// Hero background

.hero-bg {
  background-image: url(../assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

// Green splash paint bg

.green-paint-bg {
  background-image: url(../assets/green-paint-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.blue-bg {
  background-color: #415A78;
}

.green-bg {
  background-color: $color-green;
}

// TMIC Branding shape backgrounds

.shape-bg-1 {
  background-image: url(../assets/bg-shape-1-left.png), url(../assets/bg-shape-1-right.png);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
}


// Benefit bar icons

.benefit-icon {
  max-width: 100px;
}

// Mobile top nav

.mobile-top-nav-img {
  max-width: 35px;
}

.mobile-top-nav-link-img {
  max-width: 16px;
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    max-width: 85px;
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .benefit-icon {
    max-width: 50px;
  }

  .logo {
    max-width: 65px;
  }
}

@media screen and (max-width: 450px) {
  .hero-bg {
    background-image: url(../assets/hero-mobile.jpg);
  }
}
