// General

img {
  height: auto;
  width: auto;
}

.close {
  cursor: pointer;
  max-width: 20px;

  &:hover {
    opacity: .8;
  }
}

.fw-img {
  max-width: 100%;
}

// Social favicons

.social-favicon {
  cursor: pointer;
  max-width: 25px;

  &:hover {
    opacity: .8;
  }
}

// Logo

.logo {
  cursor: pointer;
  max-width: 150px;

  &:hover {
    opacity: .8;
  }
}

// Navigation icons

.nav-link-img {
  cursor: pointer;
  max-width: 16px;
}

.nav-link-chevron {
  max-width: 16px;
  margin-bottom: 2px;
}

// Hero background

.hero-bg {
  background-image: url(../assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

// Green splash paint bg

.green-paint-bg {
  background-image: url(../assets/green-paint-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

// Benefit bar icons

.benefit-icon {
  max-width: 100px;
}

//
