// Navigation text links

.nav-link {
  font-family: $text-family-body;
  font-size: 14px;
  color: $color-black;
  transition: ease-in-out color 200ms;

  &:hover {
    color: $color-bronze;
  }
}

.nav-link-priority {
  p {
    color: $color-black;
    font-family: $text-family-body;
    font-weight: 500;
    opacity: 1 !important;
  }

  &:hover {
    opacity: .8;
  }
}

.nav-link-primary {
    color: $color-bronze;
    font-family: $text-family-body;
    font-weight: 500;
    transition: ease-in-out color 200ms;
    font-size: 15px;

    &:hover {
      color: $color-black;
    }
}

// Buttons

.button-reset {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

// Button globals

.btn-primary {
  font-family: $text-family-body;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  border: 3px solid transparent;
  padding: 13px 43px 13px 43px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 120px;
  outline: none;
  cursor: pointer;
}

.btn-secondary {
  font-family: $text-family-body;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  padding: 13px 43px 13px 43px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 120px;
  outline: none;
  cursor: pointer;
}

// Modifiers

.fw {
  width: 100%;
}

.square {
  border-radius: 0px;
}

.btn-text-only {
  font-family: $text-family-body;
  font-size: 15px;
  font-weight: $text-weight-semi-bold;
  text-decoration: none;
  color: $color-bronze;
  transition: all .3s ease-in-out;

  img, svg {
    height: auto;
    width: auto;
    max-height: 0.7rem;
    margin: 3px 0 0 10px;
    transition: all 200ms ease-out;
  }

  &:hover {
    color: $color-bronze;
    img {
      margin-left: 25px;
    }
  }
}


// Colors

.btn-bronze {
  border: 3px solid $color-bronze;
  background-color: $color-bronze;
  color: #FFF;

  &:hover {
    background-color: transparent;
    color: $color-bronze;
  }
}

.btn-bronze-secondary {
  border: 3px solid $color-bronze;
  background-color: transparent;
  color: $color-bronze;

  &:hover {
    background-color: $color-bronze;
    border: 3px solid $color-bronze;
    color: $color-white;
  }
}

.btn-yellow-secondary {
  border: 3px solid $color-yellow;
  background-color: transparent;
  color: $color-yellow;

  &:hover {
    background-color: $color-yellow;
    border: 3px solid $color-yellow;
    color: $color-white;
  }
}

// Carousel Controls

.carousel-control-container {
  height: 60px;
  width: 60px;
  border: 3px solid #343434;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #343434;

    svg {
      path {
        fill: $color-white;
      }
    }
  }
}

// Mobile

@media screen and (max-width: 500px) {
  .btn-mobile-full-width {
    width: 100%;
  }
}
