// Navigation text links

.nav-link {
  font-family: $text-family-body;
  font-size: 14px;
  color: $color-black;
  transition: ease-in-out color 200ms;

  &:hover {
    color: $color-bronze;
  }
}

.nav-link-priority {
  p {
    color: $color-black;
    font-family: $text-family-body;
    font-weight: 500;
    opacity: 1 !important;
  }

  &:hover {
    opacity: .8;
  }
}

.nav-link-primary {
    color: $color-bronze;
    font-family: $text-family-body;
    font-weight: 500;
    transition: ease-in-out color 200ms;
    font-size: 15px;

    &:hover {
      color: $color-black;
    }
}
