// Top notification bar

.notification-bar {
  background-color: $color-green;
  padding: 17px 0 17px 0;
}

// Tablet

@media screen and (max-width: 1024px) {
  .notification-bar {
    padding: 15px 32px 15px 32px;
  }
}
