// Flexbox

.is-flex {
  display: flex;
}

.is-flex-between {
  justify-content: space-between;
}

.is-flex-end {
  justify-content: flex-end;
}

.is-flex-center {
  align-items: center;
}

.is-flex-start {
  align-items: flex-start;
}

// Combinations

.is-flex-start-center {
  align-items: flex-start;
  justify-content: center;
}

.is-flex-end-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}

.is-flex-end-center {
  align-items: center;
  justify-content: flex-end;
}

.is-flex-justify-center {
  justify-content: center;
  align-items: center;
}
