// Padding custom

.is-padding-large-container {
  padding: 5px 3.5rem 5px 3.5rem !important;
}

.is-padding-large {
  padding: 75px 1.5rem 75px 1.5rem !important;
}
.is-padding-medium {
  padding: 25px 1.5rem 25px 1.5rem !important;
}

.is-padding-small {
  padding: 15px 1.5rem 15px 1.5rem !important;
}

.is-padding-xs {
  padding: 5px 1.5rem 5px 1.5rem !important;
}

.is-padding-medium-uniform {
  padding: 100px;
}

.is-padding-large-uniform {
  padding: 170px;
}

.pr-80 {
  padding-right: 80%;
}

.pl-150-px {
  padding-left: 150px;
}
// Relative declerations

.relative {
  position: relative;
}

// Removals

.padding-remove {
  padding: 0 !important;
}

.margin-remove {
  margin: none !important;
}

.margin-bottom-remove {
  margin-bottom: 0 !important;
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .mt-1-tablet-only {
    margin-top: 1rem;
  }
}


// Mobile

@media screen and (max-width: 768px) {
  .is-padding-large {
    padding: 35px 1.5rem 35px 1.5rem !important;
  }

  .ml-remove-mobile-only {
    margin-left: 0 !important;
  }

  .mt-1-mobile-only {
    margin-top: 1rem;
  }

  .is-padding-small-mobile {
    padding: 3rem 1rem !important;
  }

  .is-padding-xs-mobile {
    padding: 0.5rem !important;
  }

  .is-padding-large {
    padding: 3rem 1rem !important;
  }

  .section {
    padding: 3rem 1rem;
  }
}
