// Padding custom

.is-padding-large-container {
  padding: 5px 3.5rem 5px 3.5rem;
}

.is-padding-large {
  padding: 75px 1.5rem 75px 1.5rem;
}
.is-padding-medium {
  padding: 25px 1.5rem 25px 1.5rem;
}

.is-padding-small {
  padding: 15px 1.5rem 15px 1.5rem;
}

.is-padding-xs {
  padding: 5px 1.5rem 5px 1.5rem
}
// Relative declerations

.relative {
  position: relative;
}

// Removals

.padding-remove {
  padding: 0 !important;
}

.margin-remove {
  margin: none !important;
}

.margin-bottom-remove {
  margin-bottom: 0 !important;
}

// Mobile

@media screen and (max-width: 768px) {
  .is-padding-large {
    padding: 35px 1.5rem 35px 1.5rem;
  }
}
