// Base rules

p {
  font-family: $text-family-body;
  font-size: 15px;
  color: $color-cobalt;
  line-height: 27px;
  opacity: .80;
  font-weight: 300;
}

.p-mini {
  font-size: 13px !important;
}

// Headers
.xs-pop-header {
  font-family: $text-family-body;
  font-size: 12px;
  color: $color-cobalt;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.small-pop-header {
  font-family: $text-family-body;
  font-size: 18px;
  color: $color-cobalt;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.page-header {
  font-family: $text-family-header;
  font-size: 60px;
  color: $color-cobalt;
  font-weight: 700;
  line-height: 1.2em;
}

.section-header {
  font-family: $text-family-header;
  font-size: 50px;
  color: $color-cobalt;
  font-weight: 700;
  line-height: 1.2em;
}

.sub-section-header {
  font-family: $text-family-header;
  font-size: 30px;
  color: $color-cobalt;
  font-weight: 700;
  line-height: 1.2em;
}


.benefit-header {
  font-family: $text-family-body;
  font-size: 16px;
  color: $color-white;
  font-weight: 400;
  line-height: 1.2em;
}

// Color resets

.text-white {
  color: $color-white !important;
}

.text-cobalt {
  color: $color-cobalt !important;
}

// Opacity resets

.opacity-full {
  opacity: 1;
}

.opacity-50 {
  opacity: .5;
}

// Alignment

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Sizing

.p-60 {
  max-width: 60%;
}

.p-70 {
  max-width: 70%;
}
// Tablet

@media (min-width: 769px) and (max-width: 1024px) {
  .benefit-header {
    font-size: 14px;
  }

  .p-width-tablet-reset {
    max-width: 100%;
  }

  .section-header {
    font-size: 40px;
  }

  .sub-section-header {
    font-size: 30px;
  }

}
// Mobile

@media screen and (max-width: 768px) {
 .benefit-header {
   font-size: 13px;
 }

 .page-header {
   font-size: 40px;
 }

 .p-width-mobile-reset {
   max-width: 100%;
 }

 .small-pop-header {
   font-size: 13px;
 }
}
