// Color Variables

$color-white: #FFFFFF;
$color-green: #3B9189;
$color-cobalt: #343434;
$color-blue: #415A78;
$color-bronze: #CC5500;
$color-yellow: #F8D338;
$color-black: #000000;
$color-grey: #F6F6F6;

// Typography

$text-family-body: 'Poppins', sans-serif;
$text-family-header: 'Amatic SC', cursive;

$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-medium: 500;
$text-weight-semi-bold: 600;
$text-weight-bold: 700;

$text-size-hero-header: 64px;
$text-size-section-header: 46px;
$text-size-sub-header: 26px;
$text-size-body: 16px;
$text-size-small-bold-header: 13px;

// Box shadows

$box-shadow-primary: 8px 8px 32px 0px rgba(232,239,247,1);

// Opacity

$opacity-full: 1;
$opacity-sub-header: 0.85;
$opacity-body-text: 0.79;
